<!DOCTYPE html>
<html>
  <head>
    <title>CentralLogin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <% if current_user&.some_kind_of_admin? %>
    <nav>
      <ul>
        <%= menu_link_to 'home', root_path, {wrap: true} %>
        <%= menu_link_to 'users', users_path, {wrap: true} %>
        <%= menu_link_to 'groups', groups_path, {wrap: true} if current_user.admin? %>
      </ul>
    </nav>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
