<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :roles %>
    <%= form.text_area :roles %>
  </div>

  <div class="field">
    <%= form.label :ip_restriction %>
    <%= form.text_field :ip_restriction %>
  </div>

  <div class="field">
    <%= form.label :resources %>
    <%= form.text_area :resources %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
