<h1>Group:<br/><%= @group.name %></h1>
<h2>Roles</h2>
<ul>
  <% @group.roles_as_array.each do |role| %>
  <li><%=role%></li>
  <% end %>
</ul>

<h2>Resources</h2>
<ul>
  <% @group.resources_as_array.each do |role| %>
  <li><%=role%></li>
  <% end %>
</ul>

<h2>Users</h2>
<ul>
<% @users.each do |user| %>
<li><%=link_to user.email, edit_user_path(user) %></li>
<% end %>
</ul>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
