<h1>Edit user</h1>
<%= form_with(model: @user) do |form| %>
<%= simple_format @user.errors.full_messages.join("\n\n")%>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="field">
    <%= form.label :ip_restriction %>
    <%= form.text_field :ip_restriction %>
  </div>

  <div class="field">
    <%= form.check_box :user_admin %><%= form.label :user_admin %>
  </div>
  <div class="field">
    <%= form.label :groups %>
    <%= form.collection_check_boxes :group_ids, Group.all, :id, :name%>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>

<h2>Alternative actions</h2>
<%= button_to "Reset password", user_reset_password_url(@user) %>
<%= button_to "New confirmation", user_reset_confirmation_url(@user) %>
<%= button_to "Delete user", user_url(@user), method: :delete%>