<h1>Users</h1>
<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:name)%></th>
      <th><%= User.human_attribute_name(:email)%></th>
      <th><%= User.human_attribute_name(:current_sign_in_at)%></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, edit_user_path(user) %></td>
    <td><%= link_to user.email, edit_user_path(user) %></td>
    <td><%= link_to(I18n.l(user.current_sign_in_at), user_events_path(user)) if user.current_sign_in_at%></td></tr>
  <% end %>
  </tbody>
</table>
