<h1>New confirmation</h1>
<p>The following mail has been sent to the user, you may copy the text / url.</p>
<div class="print-preview">
<%= render partial: 'devise/mailer/reset_password_instructions'%>
</div>