<h1>Events</h1>
<table>
  <thead>
    <tr>
      <th><%= Event.human_attribute_name(:created_at) %></th>
      <th><%= Event.human_attribute_name(:name) %></th>
      <th><%= Event.human_attribute_name(:user) %></th>
      <th><%= Event.human_attribute_name(:ip_address) %></th>
      <th><%= Event.human_attribute_name(:performed_by_user) %></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= I18n.l event.created_at %></td>
        <td><%= t event.name %></td>
        <td><%= link_to(event.user.email, edit_user_path(event.user)) if event.user %></td>
        <td><%= event.ip_address %></td>
        <td><%= link_to(event.performed_by_user.email, edit_user_path(event.performed_by_user)) if event.performed_by_user_id %></td>
    <% end %>
  </tbody>
</table>
