<p>You or someone else has registered <%= @email %> with CentralLogin.</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to confirmation_url(@resource, confirmation_token: @token), confirmation_url(@resource, confirmation_token: @token) %></p>

<p>If you did not request an account with CentralLogin, please ignore this e-mail.</p>