You or someone else has registered <%= @email %> with CentralLogin.

You can confirm your account email through the link below:

<%= confirmation_url(@resource, confirmation_token: @token) %>

If you did not request an account with CentralLogin, please ignore this e-mail.