Hello <%= @resource.email %>,

Someone has requested a link to change your password. You can do this through the link below.

<%= edit_password_url(@resource, reset_password_token: @token) %>

If you didn't request this, please ignore this email.

Your password won't change until you access the link above and create a new one.
