Hello <%= @resource.email %>,

Your account has been locked due to an excessive number of unsuccessful sign in attempts.

Click the link below to unlock your account:

<%= unlock_url(@resource, unlock_token: @token) %>
