<h1><%= t ".title" %></h1>
<p><%= t ".introduction" %></p>

<h2><%= t ".apps" %></h2>
<ul>
<% OauthApplications.all.each do |app| %>
<li><%= link_to app.name, app.url %></li>
<% end %>
</ul>

<p>
  <% if current_user %>
    <%= button_to I18n.t("common.sign_out"), destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to I18n.t("common.sign_in"), new_user_session_path%>
  <% end %>
</p>
